Delivery Weather Classifier.json
{
  "name": "Delivery Weather Classifier",
  "nodes": [
    {
      "parameters": {
        "cityName": "={{ $json.city }}"
      },
      "id": "300a383b-1838-4ae5-86cf-c617b8b4fbc4",
      "name": "Fetch Weather Data",
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        464,
        400
      ],
      "credentials": {
        "openWeatherMapApi": {
          "id": "2WFVTAfM5j3azp0A",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the delivery feasibility based on the following information:\n\nDelivery Details:\nCity: {{ $(\"Start\").item.json.city }}\nDelivery Date: {{ $(\"Start\").item.json.deliveryDate }}\nPeriod: {{ $(\"Start\").item.json.period }}\nProduct: {{ $(\"Start\").item.json.product }}\n\nCurrent Weather Conditions:\nLocation: {{ $(\"Fetch Weather Data\").item.json.name }}\nWeather: {{ $(\"Fetch Weather Data\").item.json.weather[0].description }}\nTemperature: {{ $(\"Fetch Weather Data\").item.json.main.temp }}°C\nHumidity: {{ $(\"Fetch Weather Data\").item.json.main.humidity }}%\nWind Speed: {{ $(\"Fetch Weather Data\").item.json.wind.speed }} m/s\nClouds: {{ $(\"Fetch Weather Data\").item.json.clouds.all }}%\n\nClassify this delivery into one of three categories:\n1. Feasible - Can be delivered under current conditions\n2. Conditional - Possible, but dependent on weather changes or constraints\n3. Not Feasible - Cannot be delivered under current conditions\n\nProvide your classification with detailed reasoning.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a logistics expert specializing in weather-dependent delivery analysis. Analyze weather conditions and product constraints to determine delivery feasibility. Always classify deliveries into exactly one of three categories: Feasible, Conditional, or Not Feasible. Provide clear reasoning based on the weather data and product constraints."
        }
      },
      "id": "e295eead-42ca-4d18-a216-933d255addb9",
      "name": "Classify Delivery Feasibility",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        400
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "77f434ab-7ca5-4b53-a4bb-215127756a53",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        688,
        624
      ],
      "credentials": {
        "openAiApi": {
          "id": "l2g5CfnXVB3K2l3t",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"category\": \"Feasible\", \"reasoning\": \"Weather conditions are suitable for delivery\", \"weatherConditions\": \"Clear sky, 15.5°C, low wind\", \"recommendation\": \"Proceed with delivery as planned\"}",
        "autoFix": true
      },
      "id": "266ff9c5-b48d-4aec-a059-f10cd5f31d17",
      "name": "Structured Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        816,
        624
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.finalDecision }}",
                    "rightValue": "Approve - Proceed with delivery",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6f0486e6-5250-4a1b-a849-f792b97bbe99"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Approved"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.finalDecision }}",
                    "rightValue": "Conditional - Monitor and reassess",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a6f4fc6c-1ffb-4065-ba19-e1efb7de63be"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Conditional"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.finalDecision }}",
                    "rightValue": "Reject - Delay delivery",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8ab73ab3-1d67-4639-86f7-46846247a2a1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rejected"
            }
          ]
        },
        "options": {}
      },
      "id": "a50628d8-8abd-461e-963f-16ea928af02f",
      "name": "Route by Category",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1408,
        384
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "APPROVED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "action",
              "value": "Proceed with delivery",
              "type": "string"
            },
            {
              "id": "3",
              "name": "aiCategory",
              "value": "={{ $json.output.category }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "aiReasoning",
              "value": "={{ $json.output.reasoning }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "humanDecision",
              "value": "={{ $json.finalDecision }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "18d3612b-d7f4-4f06-96c1-7729e598f393",
      "name": "Process Feasible Delivery",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        208
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "PENDING_REVIEW",
              "type": "string"
            },
            {
              "id": "2",
              "name": "action",
              "value": "Monitor weather and reassess",
              "type": "string"
            },
            {
              "id": "3",
              "name": "aiCategory",
              "value": "={{ $json.output.category }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "aiReasoning",
              "value": "={{ $json.output.reasoning }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "humanDecision",
              "value": "={{ $json.finalDecision }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a33ae6b9-3fc4-4438-9623-d200d6422422",
      "name": "Process Conditional Delivery",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        400
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "status",
              "value": "REJECTED",
              "type": "string"
            },
            {
              "id": "2",
              "name": "action",
              "value": "Delay delivery until conditions improve",
              "type": "string"
            },
            {
              "id": "3",
              "name": "aiCategory",
              "value": "={{ $json.output.category }}",
              "type": "string"
            },
            {
              "id": "4",
              "name": "aiReasoning",
              "value": "={{ $json.output.reasoning }}",
              "type": "string"
            },
            {
              "id": "5",
              "name": "humanDecision",
              "value": "={{ $json.finalDecision }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "9fa7be89-566e-4954-ba91-7384322e3583",
      "name": "Process Not Feasible Delivery",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1632,
        592
      ]
    },
    {
      "parameters": {
        "resume": "form",
        "formTitle": "Delivery Feasibility Decision",
        "formDescription": "=AI Classification: {{ $json.output.category }}<br><br>Reasoning: {{ $json.output.reasoning }}<br><br>Weather: {{ $json.output.weatherConditions }}<br><br>Please review and make your final decision:",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Final Decision",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Approve - Proceed with delivery"
                  },
                  {
                    "option": "Conditional - Monitor and reassess"
                  },
                  {
                    "option": "Reject - Delay delivery"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "3eb28be4-346b-4eba-9bb4-b6e46663cd67",
      "name": "Wait for Approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        400
      ],
      "webhookId": "bea06ab8-ced1-41d2-a5ee-0d22e15eb888"
    },
    {
      "parameters": {
        "authentication": "basicAuth",
        "formTitle": "Delivery Feasibility Request",
        "formDescription": "Enter delivery details to analyze weather conditions and feasibility",
        "formFields": {
          "values": [
            {
              "fieldLabel": "City",
              "fieldName": "city",
              "placeholder": "e.g., Araraquara",
              "requiredField": true
            },
            {
              "fieldLabel": "Delivery Date",
              "fieldType": "date",
              "fieldName": "deliveryDate",
              "requiredField": true
            },
            {
              "fieldLabel": "Delivery Period",
              "fieldType": "dropdown",
              "fieldName": "period",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Morning"
                  },
                  {
                    "option": "Afternoon"
                  },
                  {
                    "option": "Evening"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Product",
              "fieldName": "product",
              "placeholder": "e.g., Electronics, Perishables",
              "requiredField": true
            }
          ]
        },
        "options": {
          "buttonLabel": "Analyze Delivery"
        }
      },
      "id": "177a0999-3bf3-441b-9859-5ebe7c78bcab",
      "name": "Start",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        240,
        400
      ],
      "webhookId": "f2102e4c-c52c-4002-a6b5-f0f294db392e",
      "credentials": {
        "httpBasicAuth": {
          "id": "dmF8bJsh6IHwsiS0",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        816,
        800
      ],
      "id": "4e1dd9f8-7853-4f60-985d-22b1a7d35511",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "l2g5CfnXVB3K2l3t",
          "name": "OpenAI account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Weather Data": {
      "main": [
        [
          {
            "node": "Classify Delivery Feasibility",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Delivery Feasibility": {
      "main": [
        [
          {
            "node": "Wait for Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Delivery Feasibility",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Classify Delivery Feasibility",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Route by Category": {
      "main": [
        [
          {
            "node": "Process Feasible Delivery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Conditional Delivery",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Not Feasible Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Approval": {
      "main": [
        [
          {
            "node": "Route by Category",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "Fetch Weather Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "52d2ef2a-03ab-4942-9ef5-794e40bd3c40",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e96ad39cda86e2cb84da52663f54a166d9211b7d84b36d454bbab1cd1a16e580"
  },
  "id": "Cf0tO7mdtw0RzkAT",
  "tags": []
}